/*@principal: #ee692e;
@secundaria: #638ab3;
@base: #fff6f6;
@texto: #564949;
@alerta: #db3d34;
@sucesso :#16a068; */

body {
  background: #fff6f6;
  color: #564949;
}
h1{
  color: #638ab3;
}
a {
  color: #ee692e;
}

a:hover {
  color: #a8471f;
}
